name: Kube-score Analysis

on:
  workflow_dispatch:

jobs:
  kube_score:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
      - name: Run Kube-score v1.20.0 with Docker
        run: |
          DOCKER_IMAGE="zegl/kube-score:v1.20.0"
          MANIFEST_PATH="kubernetes/opentelemetry-demo.yml"
          
          docker run \
            -v ${{ github.workspace }}:/manifests \
            ${DOCKER_IMAGE} \
            score /manifests/${MANIFEST_PATH} 
